HTML,
body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar a {
  font-weight: 600;
}

span {
	font-weight: 100;
}

.navbar a {
	text-transform: uppercase;
	font-size: 12px;
}

.navbar {
  background: rgba(255, 255, 255, .6) !important;
}

.disco {
	color: #fff !important;
}

.btn {
	border-radius: 20px;
}

.landing-video {
  height: 70vh;
  overflow-x: hidden;
  overflow-y: hidden;
  color: #fff;
}

#myVideo {
	position: absolute;
	top: -25%
}

.content {
  position: absolute;
  top: 35%;
  left: 5%;
  z-index: 10;
}

.who-are-we,
.what-we-do {
  color: #fff;
  padding: 70px 30px;
  text-align: center;
}

.who-are-we {
  background: #2D9CD3;
}

.what-we-do {
  background-color: #0B5ED7;
}

.deets {
  background-image: url(who-we-are.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: left bottom;
}

.details {
  background-image: url(what-we-do.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: right bottom;
}

.our-process {
	padding-top: 30px;
}

.logos {
	padding-top: 50px;
}

.carousel-img {
	height: 100px;
}

.usps {
	padding-bottom: 50px;
}

.blogs,
.reviews {
	padding: 50px 0px;
}